@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Index Page</h1>
</div>


<form asp-controller="OCR" asp-action="DoOcr" method="post">
    <button type="submit">OCR</button>
</form>