@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Index Page</h1>
</div>


<form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Upload">
    <input type="file" name="files" multiple/>
    <button type="submit">Upload</button>
</form>