@using KOCR_Web.Models
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<body>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <br>
        <br>
        <div>
            Select a language and a file and click on the Upload button. Your file will be OCR'ed and the resulting text will appear in the browser.
            <br>
            <br>
            <b>Select Language: </b>
            <select asp-for="Language" asp-items="Model.Languages"></select>
            <br>
            <br>
            <input type="file" name="files" />
            <br>
            <br>
            <button type="submit">Upload</button>
        </div>
    </form>
</body>
</html>

@if (Model.OCRText != null && Model.OCRText != "") {
<br />
<div>
    @Model.OriginalFileName
</div>
<div class="ocrtext">
    <pre>
            @Model.OCRText
        </pre>
</div>
}

<script type="text/javascript">

</script>
