body {
    color: white;
    background-color: black;
}

h1 {
    color: orange;
}

.header {
    padding: 10px;
    text-align: center;
    background: darkblue;
    color: orange;
    font-family: 'Times New Roman', cursive;
}

.header-title {
    font-size: 6rem;
}

.header-text {
    font-size: 1rem;
    text-align: center;
}

.ocr-text {
    color: black;
    background-color: white;
    border: 5px solid orange;
}



