body {
    background-color: black;
    color: white;
}

h1 {
    color: orange;
}

.header {
    padding: 10px;
    text-align: center;
    background: darkblue;
    color: orange;
    font-family: 'Special Elite', cursive;
}

.header-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-text {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: .8rem;
    text-align: center;
}

.ocrtext {
    color: black;
    background-color: white;
    border: 5px solid orange;
}



