@using KOCR_Web.Models
@model CWDocsIndexViewModel
@{
    ViewData["Title"] = "CWDocs Home Page";
    Layout = "_CWDocsLayout";
}

<a asp-controller="Account" asp-action="Logout">Logout</a>
<br />
<br />
<a asp-controller="CWDocs" asp-action="UploadDoc" class="btn btn-primary">Upload Document</a>
<br />

<div style="width:90%; margin:0 auto;">
    <table id="docTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>FileId</th>
                <th>User</th>
                <th>File</th>
                <th>File Id</th>
            </tr>
        </thead>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#docTable').DataTable({
            "processing": true, // for show progress bar    
            "serverSide": true, // for process server side    
            "filter": true, // this is for disable filter (search box)    
            'ajax': {
                "type": "POST",
                "url": '/CWDocs/LoadDocs/',
                "datatype": "json",
                "data": function (d) {
                }
            },
            //columnDefs: [{ "orderable": false, "searchable": false, "targets": 1 }],
            columns: [   // this is determining the order of fields in the table
                { data: "fileId", name: "fileId"},
                { data: "userId", name: "userId" },
                { data: "originalDocumentName", name: "originalDocumentName" },
                { data: "documentName", name: "documentName" }
            ]
        });
    });
</script>
