@using KOCR_Web.Models
@model CWDocsIndexViewModel
@{
    ViewData["Title"] = "CWDocs Home Page";
    Layout = "_CWDocsLayout";
}

<a asp-controller="Account" asp-action="Login">Login</a>
<br>
<a asp-controller="CWDocs" asp-action="UploadDoc">Upload Document</a>

